@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;400;700&display=swap');
html {
    height: 100%;
}
div#root{
  height: 100%;
}
.body {
    height: 100%;
    /* background: #E7C4A4; */
    background-image:
    linear-gradient(135deg, rgba(76,188,212,1) 0%, rgba(80,94,179,1) 50%, rgba(87,139,211,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Jost', sans-serif;
    color: #0A2647;
    
}

.card{
    height: 70%;
    width: 70%;
    background: white;
    border-radius: 30px;
    box-shadow: 0px 0px 39px 2px rgba(0,0,0,0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.left{
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
}

.intro{
    font-size: 24px;
}

.head{
    font-size: 50px;
    font-weight: bold;
    
}
.upload{
    height: 50px;
    width: 150px;
    padding: 10px;
    background-color:#144272;
    color: white;
    border: 0;
    border-radius: 15px;
    font-size: large;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
}
.press:active {
    filter: drop-shadow(0 0 0 #15111a);
    transform: translate(0, 5px);
  }

.image>img{
    width:600px;
    height:500px;
    object-fit: cover;
    border-radius: 20px;
    margin-left: 100px;
}

.modalButton,input.choose::file-selector-button {
    height: 50px;
    width: 110px;
    padding: 5px;
    background-color:#144272;
    color: white;
    border: 0;
    border-radius: 15px;
    font-size: medium;
    font-weight: 700;
    cursor:pointer;
    margin-right: 10px;
}
